<!-- <p>editar-usuario works!</p> -->


<div mat-dialog-content>
    <div class="modal-content"> 
        <div class="modal-header bg-dark">
            <span class="text-white modal-title">Datos de Usuario</span> 
        </div>

        <div class="modal-body"> 
            <form [formGroup]="formulario">

                <div  class="col-12">
                    <div class="row">

                        <div class="form-group col-12 col-md-4">
                            <label class="col-form-label">Nombre:</label>
                            <input formControlName="nombre" (keypress)="validarLetras($event)" type="text" class="form-control"
                            [ngClass]="(submitted && f['nombre'].errors) || (f['nombre'].touched || f['nombre'].dirty) ? 'is-valid': ''"
                            [ngClass]="f['nombre'].valid  || nombreValid ? 'is-valid' : ''">

                            <div *ngIf="submitted || (f['nombre'].touched || f['nombre'].dirty)">
                                <small *ngIf="f['nombre'].errors?.['required']" class="text-danger"> Nombre es requerido </small>
                                <small *ngIf="f['nombre'].errors?.['minlength']" class="text-danger"> Mínimo 3 caracteres </small>
                            </div>
                        </div>

                        <div class="form-group col-12 col-md-4">
                            <label class="col-form-label">Apellido:</label>
                            <input formControlName="apellido"  (keypress)="validarLetras($event)" type="text" class="form-control"
                            [ngClass]="(submitted && f['apellido'].errors) || (f['apellido'].touched || f['apellido'].dirty) ? 'is-valid': ''"
                            [ngClass]="f['apellido'].valid || apellidoValid ? 'is-valid' : ''">

                            <div *ngIf="submitted || (f['apellido'].touched || f['apellido'].dirty) || !apellidoValid">
                                <small *ngIf="f['apellido'].errors?.['required']" class="text-danger"> Apellido es requerido </small>
                                <small *ngIf="f['apellido'].errors?.['minlength']" class="text-danger"> Mínimo 3 caracteres </small>
                            </div>
                        </div>

                        <div class="form-group col-12 col-md-4">
                            <label class="col-form-label">Teléfono:</label>
                            <input formControlName="telefono" (keypress)="validarNumero($event)" type="text" class="form-control" maxlength="10" minlength="10"
                            [ngClass]="(submitted && f['telefono'].errors) || (f['telefono'].touched || f['telefono'].dirty) ? 'is-valid': ''"
                            [ngClass]="f['telefono'].valid || telefonoValid ? 'is-valid' : ''">

                            <div *ngIf="submitted || (f['telefono'].touched || f['telefono'].dirty)">
                                <small *ngIf="f['telefono'].errors?.['required']" class="text-danger"> Teléfono es requerido </small>
                                <small *ngIf="f['telefono'].errors?.['minlength']" class="text-danger"> Mínimo 10 dígitos </small>
                            </div>
                        </div>

                        <div class="form-group col-12 col-md-4">
                            <label class="col-form-label">Usuario:</label>
                            <input formControlName="name" (keypress)="validarAlfaNumerico($event)" type="text" class="form-control"
                            [ngClass]="(submitted && f['name'].errors) || (f['name'].touched || f['name'].dirty) ? 'is-valid': ''"
                            [ngClass]="f['name'].valid || usuarioValid ? 'is-valid' : ''">

                            <div *ngIf="submitted || (f['name'].touched || f['name'].dirty)">
                                <small *ngIf="f['name'].errors?.['required']" class="text-danger"> Usuario es requerido </small>
                                <small *ngIf="f['name'].errors?.['minlength']" class="text-danger"> Mínimo 3 caracteres </small>
                            </div>
                        </div>

                        <div class="form-group col-12 col-md-8">
                            <label class="col-form-label">Correo:</label>
                            <input  formControlName="email" type="email" class="form-control"
                            [ngClass]="(submitted && f['email'].errors) || (f['email'].touched || f['email'].dirty  || emailValid) ? 'is-invalid': ''"
                            [ngClass]="f['email'].valid || emailValid ? 'is-valid': ''">

                            <div *ngIf="(submitted || f['email'].touched || f['email'].dirty)">
                                <small *ngIf="f['email'].errors?.['required']" class="text-danger"> Correo es requerido </small>
                                <small *ngIf="f['email'].errors?.['email']" class="text-danger"> Formato de email es incorrecto !! </small>
                            </div>
                        </div>            
                        
                    </div>
                    <div class="row">

                        <div class="form-group col-12 col-md-5">
                            <label class="col-form-label">Rol:</label>
                            <input formControlName="rol_id" type="hidden">
                            <input readonly formControlName="cargo" type="text" class="form-control">
                           <!--  <select formControlName="rol_id" class="form-control">
                                <option disabled value="0">Selecione un cargo</option>
                                <option disabled *ngFor="let r of roles" [value]="r.id">{{r.cargo}}</option>
                            </select> -->
                        </div>
                        <div class="form-group col-12 col-md-7">
                            <label class="col-form-label">Direccion:</label>
                            <textarea formControlName="direccion" (keypress)="validarAlfaNumerico($event)" type="text" class="form-control" rows="1"></textarea>
                        </div>  
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col-6 col-md-12 col-lg-6">
                    <button mat-button (click)="cancelar()" class="btn bg-gradient-secondary" >Cancelar</button>
                </div>
                <div class="col-6 col-md-12 col-lg-6">
                    <button (click)="actualizarUsuario()" [mat-dialog-close]="true" [routerLink]="['/dashboard/gestion-usuario/listar-usuario']" [disabled]="formulario.valid && !emailValid || !okButton" type="button" class="btn bg-gradient-primary">
                        Guardar
                    </button> 
                </div>
            </div>
        </div> 
    </div>

</div>
