<!-- <p>listar-usuario works!</p> -->

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3 col-sm-6 mt-3" *ngFor="let lu of usuario">
            <div class="card">
                <div class="card-header p-0 mx-2 mt-3 position-relative z-index-1">
                    <a class="d-flex justify-content-center">
                        <img  [src]="verimg(lu.imagen)" class="img">
                    </a>
                </div>

                <div class="card-body pt-2 text-center">
                    <span class="text-gradient text-primary text-xs font-weight-bold my-2"> {{lu.email}} </span>
                    <a class="card-title h5 d-block text-darker"> {{lu.persona?.nombre | titlecase}} {{lu.persona?.apellido | titlecase}} </a>
                    <div class="author justify-content-center">
                        <div class="row">
                            <div class="d-flex flex-column">
                                <span class="mb-2 text-xs text-dark">Rol:
                                    <span class="text-dark font-weight-bold ms-sm-2"> {{lu.rol?.cargo}} </span>
                                </span>
                                <span class="mb-2 text-xs text-dark">Usuario: 
                                    <span class="text-dark font-weight-bold ms-sm-2"> {{lu.name}} </span>
                                </span>
                                <span class="mb-2 text-xs text-dark">Teléfono: 
                                    <span class="text-dark ms-sm-2 font-weight-bold"> {{lu.persona?.telefono}} </span>
                                </span>
                                <span class="text-xs text-dark">Dirección: 
                                    <span class="text-dark ms-sm-2 font-weight-bold"> {{lu.persona?.direccion | titlecase}} </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="col-12">
                            <div class="row mt-1">
                                <div class="col-6">
                                    <a (click)="editar(lu)" class="btn btn-link text-primary text-gradient px-3 mb-0">
                                        <mat-icon>edit</mat-icon>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a (click)="dialogEliminar(lu.id)" class="btn btn-link text-primary text-gradient px-3 mb-0">
                                        <mat-icon>delete</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
